.App {
	text-align: center;
}

.container {
	margin: 20px auto;
	text-align: center;
}
button {
	font-size: 16px;
	line-height: 1;
	background-color: #7950f2;
	color: #fff;
	padding: 5px 10px;
}
.reset {
	margin-left: 10px;
}
span {
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
}
