* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	background-image: url("../public/images/bg-1a.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vh;
	background-color: rgba(194, 163, 253, 0.719);
	background-blend-mode: darken;
	text-shadow: 1px 0px 1px rgba(231, 227, 227, 0.486);

	/* font-family: "Story Script", sans-serif;
	font-weight: 400;
	font-style: normal; */

	font-family: "Fjalla One", sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}

header {
}
main {
}
nav {
	background-color: rgba(194, 163, 253, 0.418);
	font-size: 20px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	box-shadow: 0px 0px 3px rgba(194, 163, 253, 0.979);
}
.logo {
	opacity: 1;
}
nav p {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.standings {
	font-size: 64px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

table {
	width: 99.5%;
	margin: 0 auto 25px auto;
	border-collapse: collapse;
	box-shadow: 1px 1px 15px rgba(154, 116, 224, 0.705);
}

.table-head {
	background-color: rgba(173, 216, 230, 0.418);
	background-color: rgba(194, 163, 253, 0.418);
}
th {
	padding: 12px;
	font-size: 32px;
}
.score-number {
	font-size: 26px;
}
.points {
	font-size: 30px;
	font-weight: bold;
}
.table-body {
	background-color: rgba(210, 228, 233, 0.678);
	background-color: rgba(201, 185, 231, 0.418);
}
tr {
	text-align: center;
}
.team-name-header {
	display: flex;
	text-align: start;
	padding-left: 10px;
	align-items: center;
	font-size: 36px;
}
.team-name-body {
	display: flex;
	text-align: start;
	padding: 10px 0px 10px 10px;
	align-items: center;
	font-size: 26px;
}
.club-img {
	width: 45px;
	margin-right: 10px;
}
tbody tr:nth-of-type(2) {
	background-color: rgba(194, 163, 253, 0.192);
	box-shadow: 0px 1.25px 1px rgb(172, 4, 68);
}

.score-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* margin: 75px 0; */
	font-family: "Fjalla One", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 100px;
	margin-bottom: 25px;
}
select::-webkit-scrollbar {
	display: none; /* Hides the scrollbar */
	width: 0; /* Ensures no space is taken by the scrollbar */
}

.score-select-team,
.select-new-team {
	overflow: hidden;
	font-size: 24px;
	text-align: center;
	padding: 4px;
	border-radius: 10px;
	border: none;

	background-color: rgba(175, 141, 236, 0.562);

	text-shadow: 1px 1px 1px rgb(255, 255, 255);
	width: 200px;
	height: 50px;
	margin: 0 3px;
	text-shadow: 1px 1px 1px rgba(218, 85, 196, 0.342);
	box-shadow: 1px 1px 1px rgba(194, 163, 253, 0.192);
	box-shadow: 0px 0px 2px rgba(154, 116, 224, 0.705);
	cursor: pointer;

	font-family: "Fjalla One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.score-select-team:focus,
.score-select-team:active,
.select-new-team:focus,
.select-new-team:active {
	text-shadow: 1px 1px 1px rgba(218, 85, 196, 0.342);
	outline: none;
}
.score-select-team:hover,
.select-new-team:hover {
	text-shadow: 1px 1px 1px rgba(218, 85, 196, 0.342);
	outline: none;
}
.score-select-team:hover,
.select-new-team:hover {
	border: 2px solid rgba(194, 163, 253, 0.555);
	text-shadow: 1px 1px 1px rgba(194, 163, 253, 0.555);
	text-shadow: 1px 1px 1px rgba(218, 85, 196, 0.753);
	background-color: rgba(137, 83, 236, 0.562);
}
.select-new-team optgroup {
	font-size: 22px;
	font-weight: bolder;
	background-color: rgba(194, 163, 253, 0.295);
	text-align: start;
	/* color: rgba(218, 85, 196, 0.753); */
}

.select-new-team option {
	background-color: rgba(172, 163, 253, 0.336);
	text-align: start;
}
.score-select-team option {
	background-color: rgba(145, 135, 240, 0.329);
	text-align: center;
}
.score-input {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	padding-left: 12px;
	border: none;
	background-color: rgba(203, 183, 241, 0.192);
	width: 50px;
	height: 50px;
	text-shadow: 1px 1px 1px rgba(218, 85, 196, 0.342);
	box-shadow: 1px 1px 1px rgba(194, 163, 253, 0.192);

	outline: none;
	cursor: pointer;
}
.score-input:hover {
	font-size: 30px;
	font-weight: bolder;
	border-radius: 10px;
	border: 2px solid rgba(194, 163, 253, 0.555);
	text-shadow: 1px 1px 1px rgba(218, 85, 196, 0.753);
}
button {
	background-color: rgba(194, 163, 253, 0.308);
	text-shadow: 1px 1px 1px rgba(218, 85, 196, 0.342);
	box-shadow: 1px 1px 1px rgba(194, 163, 253, 0.192);
	font-size: 24px;
	padding: 4px;
	margin-left: 7.5px;
	border: none;
	width: 75px;
	height: 55px;
	border-radius: 15px;
}
button:hover {
	border: 2px solid rgba(194, 163, 253, 0.555);
	text-shadow: 1px 1px 1px rgba(218, 85, 196, 0.753);
	background-color: rgba(137, 83, 236, 0.562);
	/* background-color: rgba(194, 163, 253, 0.308); */
}
.league-over {
	margin-top: 13px;
	text-align: center;
}
.league-over button {
	background-color: rgba(149, 101, 236, 0.349);
	font-size: 22px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.705);
	width: 120px;
}
.scores-board {
	width: 70%;
	margin: 0 auto;
	border-collapse: collapse;
	box-shadow: 2px 3x 4px rgba(194, 163, 253, 0.432);
	border-radius: 25px;
	background-color: rgba(194, 163, 253, 0.432);
}

.score-board-header {
	box-shadow: 0px 1px 2px rgba(155, 113, 231, 0.432);
}
.scores-board tr:nth-of-type(2) {
	background-color: rgba(210, 228, 233, 0);
	box-shadow: none;
}
.scores-board tr:nth-of-type(3) {
	box-shadow: 0px 1px 1px rgba(155, 113, 231, 0.432);
	border-radius: 1px;
}
.home-team-header {
	text-align: start;
	padding-left: 40px;
	padding-top: 25px;
	padding-bottom: 30px;
}
.result-header {
	/* padding: 0px 0px 0 0px;
	padding-right: 20px; */
	text-align: center;
}
.leg {
	text-align: center;
	font-size: 30px;
	padding: 15px 0 5px 0;
}
.away-team-header {
	padding-right: 0px;
	padding-bottom: 16px;
}

.scores-body {
	font-size: 24px;
}
.result-score-tr {
}
.home-span {
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: flex-start;
	padding: 20px 30px;
}
.home-span:nth-of-type(4) {
	color: red;
}
.result-img {
	width: 50px;
}
.home-img {
	margin-right: 7px;
}

.result-score-td {
	font-size: 30px;
	font-weight: bold;
}

.away-td {
	/* background-color: rgba(173, 216, 230, 0.274); */
}
.away-span {
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: flex-start;
	padding-left: 100px;
}
.result-img {
}
.away-img {
	margin-right: 7px;
}

.error {
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 500px;
	font-size: 18px;
	background-color: rgb(250, 5, 168);
	border-radius: 10px;
}
.hideError {
	display: none;
}

/* Cool hover animation */
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}
