* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-color: rgba(255, 235, 205, 0.726);
	text-align: center;
}
.form-comp {
	padding: 10px;
	margin-bottom: 30px;
	color: rgb(218, 179, 6);
	text-shadow: 2px 2px 2px black;
	background-color: rgba(12, 83, 235, 0.781);
	box-shadow: 4px 3px 5px yellowgreen;
}
.form-comp h1 {
	font-size: 64px;
	padding: 20px;
	margin: 40px 0;
}
.container {
	margin-bottom: 25px;
}
li {
	list-style: none;
}
.col {
}
.player-card {
	width: 15rem;
	margin: 10px auto;
}
.card-body {
	/* background-color: rgba(247, 231, 5, 0.747); */
	height: 300px;
}
.card-body img {
	width: 200px;
	height: 250px;
}
.CardTitle,
.card-title,
.card-body span {
	font-size: 20px;
	color: rgb(104, 126, 10);
}
